{% extends 'myinfo/base.html' %}


{% block content %}



<h1><i>welcome!! to my website</i></h1>
<pre>
  <font color='green'>
Shasank Puri

Pepsicola, Kathmandu | Contact no.: 9843329117 | Email:shank.puri@gmail.com

Education
SLC from Newton’s Education Academy,Jhapa in first division.
HSEB from VS Niketan HSS,Tinkune in first division.
Bachelor of Engineering in IT (running) from NCIT college,Balkumari.

Date Of Birth
2051/10/20

Skills & Abilities
1. Instruct Computer Science to classes ranging between 6 -10.
2. Supervise and direct students towards their goal ensuring optimal task performance.
2. Knowledge of HTML, CSS.
3. Familiar with programming language such as Python.
4. Friendly with python web development framework Django.
5. Comfortable in teaching mathematics, science and other related subjects if and when opportunity arises.
</font>
</pre>
<i>Facebook:<a>https:/facebook/shasank.puri</i></a>

{% endblock %}
