{% extends 'myinfo/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1>Hey!! WELCOME to my page.</h1><br>
<h2>Its me Shasank Puri</h2>
<!-- <marquee><img src="{% static 'images/DSC_0415.JPG' %}" height='460' align="center"/></marquee> -->
<div class="w3-content w3-display-container">
  <img class="mySlides" src="{% static 'images/DSC_0415.JPG' %}" style="width:60%">
  <img class="mySlides"  src="{% static 'images/DSC_0832.JPG' %}" style="width:60%">
  <img class="mySlides"  src="{% static 'images/DSC_0881.JPG' %}" style="width:60%">
  <img class="mySlides"  src="{% static 'images/DSC_0415.JPG' %}"  style="width:60%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>
</div>

{% endblock %}
